################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-commerce/.vs/E-commerce/FileContentIndex/2c6421d1-b90c-45bd-8367-af7ab0fdffda.vsidx
/E-commerce/.vs/E-commerce/FileContentIndex/972f1f8a-e901-4bed-bfb8-73c59e989773.vsidx
/E-commerce/.vs/E-commerce/FileContentIndex/d4bd857e-7435-4429-b2eb-5727d1c4b482.vsidx
/E-commerce/.vs/E-commerce/FileContentIndex/f33a9e0b-f3b9-406f-9ff3-838ffe7aed08.vsidx
